// Import
@import "../../styles/variables/variables";

.leftMenuHeader { /* stylelint-ignore */
  background: $left-menu-link-hover;
  height: $header-height;
}

.projectName {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: $header-height;
  vertical-align: middle;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: $white;

  background-image: url('../../assets/images/logo-icwt.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.leftMenuHeaderLink {
  &:hover {
    text-decoration: none;
  }
}
